.links-container{
    /* display: grid; */
    /* display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: yellow;
    width: 100%; */
}



.links-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b6ccd7;
    width: 100%;
    height: 100px;
  }
  .card {
    display: flex;
    justify-content: center;
    /* list-style: none; */
    /* margin: 0;
    padding: 0; */
  }
  
  /* .card a {
    margin: 0 10px;
  }
  
  .card a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  } */
  
p{
    /* margin-right: 5px; */
    margin-right: 10px;
}

  @media (max-width: 600px) {
    .links-container {
      flex-direction: column;
      height: auto;
      padding: 10px;
    }
  
  
    .card {
      flex-direction: column;
    }
  
    .card p {
      margin: 5px 0;
    }
  }



